button {
    border-radius: 0;
    border: none;
    background-color: #4e4cd8;
    color: white;
    padding: .75vw;
    font-size: 1.25vw;
  }
  
  button[disabled] {
    background-color: #f9e39f;
  }
  
  .btnDiv {
    box-sizing: border-box;
    float: right;
  }
  
  .btnDiv button:first-of-type {
    margin-right: 1.75vw;
  }