button {
    border-radius: 0;
    border: none;
    background-color: #2522dd;
    color: white;
    padding: .5vw;
    font-size: 2vw;
  }
  
  button[disabled] {
    background-color: #afada7;
  }

  form button {
    position: relative;
    margin-top: 2vw;
    right: 0;
  }  
  
  .btnDiv {
    box-sizing: border-box;
    float: right;
  }
  
  .btnDiv button:first-of-type {
    margin-right: 1.75vw;
  }